.row .quantyti-input {
  width: 150px;
  margin-left: 0;
  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    border: 1px solid #d2d2d2;
  }
  .minus {
    border-radius: 100px 0 0 100px;
    &:hover {
      background-color: #d2d2d2;
    }
  }
  .flus {
    border-radius: 0 100px 100px 0;
    &:hover {
      background-color: #d2d2d2;
    }
  }
  .quantyti {
    padding: 0;
    input {
      text-align: center;
      width: 100%;
      display: block;
      border: none;
    }
  }
}
.card {
  padding: 20px;
}
