.mid-footer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: white;
  background-image: url(../img/bg/lmh.png);
  background-size: cover;
  background-repeat: no-repeat;
  .list-group .list-group-item {
    background-color: transparent;
    border: none;
    padding: 10px 0;
    a {
      color: white;
      &:hover {
        text-decoration: none;
        color: #333;
      }
    }
  }
  .container {
    padding: 3rem 0;
    .header-title {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
    }
    .row {
      .list-group-item {
        font-size: 14px;
      }
      .policy {
        position: relative;
        .btn-secondary {
          padding: 0;
          display: none;
          background: transparent;
          border: transparent;
          position: absolute;
          right: 20%;
          top: 0;
        }
      }
    }
  }
  .fa-w-12 {
    max-width: 15px;
    border-radius: 50%;
  }
  .story_address {
    img {
      padding: 10px;
      background: white;
      margin-bottom: 20px;
    }
    address {
      margin-bottom: 10px;
    }
    span {
      margin-left: 15px;
      text-transform: uppercase;
      color: red;
    }
  }
}

.story_info {
  .content-info {
    .list {
      flex-direction: row;
    }
    .list-group {
      .border_line {
        padding: 8px 12px;
        border: 1px solid white;
        border-radius: 50%;
        &:hover {
          background-color: black;
          border: none;
        }
        svg {
          width: 10px;
        }
      }
    }
  }
  .paypol {
    h4 {
      font-size: 14px;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
  }
}
.bg {
  text-align: center;
  padding: 5px 0px;
  background: #17171a;
  .container {
    font-size: 14px;
    line-height: 40px;
    .text {
      color: #959595;
    }
  }
}
@media screen and (min-width: 576px) and (max-width: 990px) {
  .mid-footer {
    .container  .row {
      .story_address {
        margin-bottom: 30px;
      }
    }
  }
  .paypol {
    .paypol_img {
      img {
        position: static;
      }
    }
  }
}
@media screen and(min-width: 400px) and (max-width: 768px) {
  .mid-footer {
    .container .row {
      .repon {
        .header-title {
          margin-bottom: 0;
        }
        .list-group {
          padding: 0 15px;
        }
      }
      .policy {
        margin-bottom: 25px;
        .hidden{
          display: none;
        }
        .show {
          display: block;
          transition: all 3s ease-in-out;
        }
        .btn-secondary {
          display: block;
          left: 40%;
          top: -3px;
        } 
      }
      .story_support {
        margin-bottom: 25px;
        .header-title {
          margin-bottom: 0;
        }
      }
      .story_address {
        margin-bottom: 20px;
      }
    }
  }
}
